.layout-services {
  background: $color-primary;

  .services {
    .home-group-block {
      .home-block-item.title {
        top: -80px;
        grid-column: 1 / -1;
        text-align: center;
        padding-bottom: 40px;
        h1 {
          font-size: 50px;
          line-height: 50px;
          font-family: "Playfair Display", serif;
          font-weight: 700;
        }
      }
    }
  }
}
